* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
.container {
    max-width: 1000px;
    margin: 0 auto;
}
 
header img {
    width: 80px;
    height: 80px;
}
#logo{
    width: 80px;
    height: 100px;
}
#home{
    padding-left: 700px;
    padding-bottom: 60px;
}
#home2{
    float: left;

}
#login{
    float: left;
    padding-left: 15px;
}
#contact{
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
#about{
    float: left;
}

#slider {
    height: 900px;
    background-image: url(../images/education.jpg);
    background-size: cover;
    padding-top: 100px;
}
.box{
    width: 500px;
    border: 1px solid white;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    position:absolute;
    padding: 1%;
}