* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
.container {
    max-width: 1000px;
    margin: 0 auto;
}
 
header img {
    width: 80px;
    height: 80px;
}
#logo{
    width: 80px;
    height: 100px;
}
#home{
    padding-left: 700px;
    padding-bottom: 60px;
}
#home2{
    float: left;

}
#login{
    float: left;
    padding-left: 15px;
}
#contact{
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
#about{
    float: left;
}


  
#slider {
    height: 1200px;
    background-image: url(../images/education.jpg);
    background-size: cover;
    padding-top: 100px;
}
/* create nav*/


nav ul{
    list-style: none;
    padding-left: 100px;
    float: left;
    padding-bottom: 150px;
}
nav ul li{
    background-color: white;
    height: 70px;
    width: 10%;
    float: left;
    padding-top: 5px;

}

nav ul li a{
    text-decoration: bolt;
    color:black;
    background-color: rgb(14, 73, 97);
    height: 60px;
    display: block;
    text-align: center;
}
nav ul li a:hover{
    background-color: white;
}

/* create wrapper */


.wrapper{
    max-width: 600px;
    padding-left: 100px;  
}

.wapper .title{
   font-size: 100px;
   text-transform: uppercase;
   text-align:center;
   width: 100px;
   padding: 100px;
}

h1{
    width: 100%;
    text-transform: uppercase;
    text-align:center;
}
.button{
    width: 100px;
    height: 20px;
    float: left;  
}



.wrapper .form{
    width: 100%;
}

.wrapper .form .input_field{
    margin-bottom: 25px;
    align-items: center;
    font-size: 25px;
    
}
.wrapper .form .input_field .label{
    width: 100px;
    margin-right: 10px;
    font-size: 100px;
}
.wrapper .form .input_field .input{
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 25px;
    padding: 8px 10px;
    border-radius: 3px;
}
.wrapper .form .input_field .custom_select{
    position: relative;
    width: 100%;
    height: 37px;

}
.wrapper .form .input_field .custom_select select{
    appearance: none;
    border: 1px solid #d5dbd9;
    width: 100%;
    height: 100%;
    padding: 8px 10px;
    outline: none;
}
.wrapper .form .input_field .custom_select:before{
    content: "";
    position: absolute;
    top: 12px;
    right: 10px;
    border: 8px solid;
    border-color: black transparent transparent transparent;
    pointer-events: none;
}
.wrapper .form .input_field .date{
    width: 100%;
}










/*clearfix*/
 
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
 
.cf:after {
    clear: both;
}
